html {
  min-height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  padding: 0px;
  background-color: #018B49;
  min-width: 100%;
  margin: 0;
  position: relative;
  min-height: 100vh;
  height: 400vh;
  box-sizing: inherit;
  overflow-x: hidden;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

}

/* navbar */
.navbar-logo {
  width: 50px;
  height: 50px;
  margin-right: 2vw;
}
.navbar-brand{
  font-size: 1.5vw;
  
  padding-right: 2vw;
  font-weight: 500;

}
.navbar {
  font-size: 1vw;
  margin-left: -10px;
  min-width: 100%;
  height: 7vh;
  margin-right: 0;
  width: 100vw;
  overflow: hidden;
  padding-left: 5vw;
  padding-right: 5vw;
}
.nav-item{
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
/* -------------rows -------------*/
.row {
  /* border: 3px solid red; */
  padding-bottom: 5vh;
  width: 100%     ;
  
}

.hero-text-home {
  margin-left: 5vh;
  font-size: 4vw;

  color: white;
  transform: scale(1);
  transition: all .8s ease-in-out;

}


.row1 {
  margin-top: 10vh;
  height: 65vh;
}

.row2 {
  margin-top: 8vh;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  background-color: white;
  height: 60vh;
  min-width: 100%;
  /* border:3px solid red; */
  width: 100%;
}
.row3{
  /* border:3px solid red; */
 margin-top: 18vh;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  background-color: white;
  height: 60vh;
  min-width: 50%;
  min-height: 60vh;
  width: 80%;
  margin-left: 20vw;
  border-top-left-radius: 29vh;
  border-bottom-left-radius: 29vh;
}
  
/*-------------- hero text------------------- */
.hero-text-home:hover {
  transform: scale(1.08);
}

.hero-desc {
  margin-left: 5vh;
  font-size: 1.2vw;


  padding-top: 2vh;
  font-style: Roboto;
  font-weight: bolder;
}


/* .iframe-container{
  
  transform: scale(1);
  transition: all .8s ease-in-out;
  
}
.iframe-container:hover{
  transform: scale(1.1);
   
} */
/* -------------------Gmap--------------------- */
.iframe-container {

  overflow: hidden;

  padding-bottom: 56.25%;

  position: relative;

  height: 0;

}

.iframe-container iframe {

  left: 5vh;

  top: 2vh;

  height: 50%;

  width: 75%;

  position: absolute;
  transform: scale(1);
  transition: all .8s ease-in-out;
  border-radius: 30px;
  box-shadow: 1vh 1vh 1.5vh 0vh rgb(45, 45, 45);

}

.iframe-container iframe:hover {
  transform: scale(1.1);

}
/* --------------flood image 1--------------- */
.dbit1Img {
  height: 50vh;
  width: 35vw;
  min-width: 10vw;
  margin-top: 5vh;
  margin-left: 6vh;

  min-height: 10vh;
  border-radius: 5vh;
  box-shadow: -1vh 1vh .5vh 0vh rgb(63, 63, 63);
  transform: scale(1);
  transition: all .8s ease-in-out;


}


.dbit1Img:hover {
  transform: scale(1.08);
}

.col{
    /* border:3px solid red */
}
/* --------------flood image 1 description--------------- */
.con1 {
  margin-left: 10vh;
  padding-top: 4vh;
  border-bottom-left-radius: 5vh;
  background-color: white;
}

.conh1 {
  font-size: 2.5vw;
  font-weight: 700;
  font-style: Roboto;
  transform: scale(1);
  transition: all .5s ease-in-out;

}

.conh1:hover {

  transform: scale(1.05);
}

.con1-desc {
  margin-top: 1vh;
  width: 60vh;
  font-size: 1.3vw;
  font-weight: 400;
  font-style: Roboto;
  word-wrap: break-word;

}

/* ------------------UNDERLINE animation(reuseable) ---------------------*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:
    #000000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:
    #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* -------------------SECOND SECTION --------------------------- */
.conh2{
  margin-top: 10vh;
  margin-left: 10vh;
  font-size: 1.5vw;
  font-weight: 700;
  font-style: Roboto;
  transform: scale(1);
  transition: all .5s ease-in-out;
}
.conh2:hover {

  transform: scale(1.05);
}
.con2-desc {
  margin-top: 1vh;
  width: 60vh;
  font-size: 1vw;
  font-weight: 400;
  font-style: Roboto;
  word-wrap: break-word;
  margin-left: 5vw;

}
.dbit1Img2{
  background-color: white;
  padding: auto;
  box-shadow: 1vh 1vh .5vh 0vh rgb(63, 63, 63);
  margin-left: 2vw;
  width: 30vw;
}
.colImg2{
  border-bottom-left-radius: 9vh;
  border-top-left-radius: 9vh;
  height: 60vh;
  background-color: white;
  
}
.footer{
  margin-top: 131.9vh;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  bottom: 0vh;
  min-height: 10vh;
  background-color: white;
  overflow-x: hidden;
  width: 100%;
  padding: 0px;
  height: 20vh;
  overflow: hidden;

}

@media screen and (min-width: 768px) {

  .carouselExample {
     padding: 1.5em 0;
  }

}

@media screen and (min-width: 992px) {

  .carouselExample {
    max-width: 930px;
  }

}




/* updates.html *************************************************************************************/
.bodyUpdate{
  height: 100vh;
}
#mapUpdate{
  width: 30vw;
  height: 50vh;
  border-radius: 2vh;
  margin-left: 3vw;
  margin-top: 3vh;
  box-shadow: -1vh 1vh .5vh 0vh rgb(63, 63, 63);


}

/* .weather{

  height: 50vh;
  width: 50vw;
  margin-left: 5vw;
  border-radius: 2vh;
  background-color:aliceblue;
  border-style: 10px solid rgb(139, 138, 138);


} */


.rowbg {
  /* border: 3px solid red;  */
  width: 70%;
   background-color:aliceblue;
   min-width: 50%;
   border-top-right-radius: 30vh;
   border-bottom-right-radius: 30vh;

   

}
.WT{
  margin-top: 7vh;
}
.WT0{
  font-style: Roboto;
  font-size: 4.5vw;
  font-weight: 600;
  font-style: Roboto;
  padding-left: 7vw;
  padding-top: 3h;

}
.WT1{
  font-style: Roboto;
  font-size: 2.5vw;
  font-weight: 300;
  margin-left: 12vw;
  margin-top: -5vh;
}
.WT2{
  font-style: Roboto;
  font-size: 1.5vw;
  margin-top: -2vh;

  margin-left: 10.5vw;
}
.WT3{
  font-style: Roboto;
  font-size: 1.5vw;
  margin-left: 4.5vw;
  margin-top: -1vh;
}
/* contacts.html *************************************************************************************/
.contactBody{
 
  height:100%;
}
.accordion{
  width: 40vw;
}
.bdr{
  height: 6cm;
  color: red;
}
.card{
  background-color: white;
  width: 20vw;
  height: 30vh;
  box-shadow: -1vh 1vh .5vh 0vh rgb(63, 63, 63);
  margin-left: 6.5vw;
}

/* #phone{
/* display: flex;
justify-content: space-between;
align-items: center; */
.bdr2{
  margin-top: 5vh;
  margin-right: 6vw;
  
}
.phoneimage{
  margin-top: 5vh;
  margin-right: 5vw;
}

.contactImg{
  width: 30vw;
    margin-top: -18.1vh;
    margin-right: -4vw;
    height: 47vh;
    border-bottom-left-radius: 30vh;
    margin-bottom: 30px;
  
}
.callImg{
  margin-top: 30vh;
}
.card{
  transform: scale(1);
  transition: all .5s ease-in-out;
  box-shadow: -1vh 1vh 1.5vh 0vh rgb(63, 63, 63);


}
.card:hover{
  
  transform: scale(1.2);
}
.card2{
  background-color: white;
  width: 20vw;
  height: 30vh;
  
  margin-left: 6.5vw;}
 .email{
  margin-top: 5vh;
  margin-left: 6vw;
 }
 .post{
  margin-top: 5.5vh;
  margin-left: 6vw;
  height: 6vh;
  width: 3vw;
 }
 .call{
  margin-top: 14vh;
  margin-left: 3.5vw;
  color: black;
 }
 .number{
  margin-left: 3vw;
  
 }
 .emailfont{
  margin-top: 2vh;
  margin-left: 3.5vw;
 }
 .gmailfont{
  margin-left: 3.2vw;
  margin-bottom: 100px;
 }
 .postfont{
  margin-top: 2vh;
  margin-left: 5.5vw;
 }
 .contactHeader{
  margin-left: 80px;
  
  
 }
/* ======= */

/* prepare.html*********************************************************** */
.rowP{
  /* border:3px solid red; */

}
.rowP1{
  
  /* border:3px solid red; */
  width: 100%;
}
.containerP{
    padding: 0;
    width: 100%;
    height:100%;
    padding-bottom: 0;


}

.heroImg-P{
  margin-top: 0;
  width: 100%;
  height: auto;
  filter:brightness(50%) blur(3.5px);
  
}
.PHeroText{
  font-style: Roboto;
  font-weight: 900;
  font-size: 4vw;
  margin-top: 5vh;
  margin-left: 30vw;
  color: white;
  transform: scale(1);
  
}
.colP{
  /* border:3px solid red; */

}
.rowP1{
  height: 20vh;
  position: absolute;
  margin-top: -50vh;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  
}
.dos{
  font-style: Roboto;
  font-size: 3vw;
  padding-top: 1vh;
  margin-top: 7vh;
  margin-left: 3vw;
  color: rgb(0, 0, 0);
  font-weight: 700;
  
}

.rowP3{
  background-color: white;
  width: 50%;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  height: 10vh;
  transform: scale(1);
  
  transition: all .8s ease-in-out;
}
.rowP3:hover{
    transform: scale(1.1);

}
.rowP4{
  background-color: aliceblue;
  margin-top: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.rowP5{
 margin-bottom: 0;

}
.post-29340{
  background-color: aliceblue;
  margin-top: 1vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.textDos{
  margin-left: 3vw;
  font-style: Roboto;
  
}
.helpDos{
  margin-left: 3vw;
  font-style: Roboto;

}
.footerPrepare{
  margin-top: 9vh;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  bottom: 0vh;
  height: 20vh;
  background-color: white;
 

}

